{% block title %}Mot de passe oublié {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/component/form.css') }}">
{% endblock %}

{% block body %}

<form method="post">
    {# {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %} #}
        <h1>Mot de passe oublié</h1>
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
    {{ form(emailForm) }} 
</form>
{% endblock %}