<footer>
	<div class="footermenu d-flex">
		<div class="col">
			<ul class="list-unstyled mb-0">
				<li>
					<a href="{{ path('main_index') }}" class="text-green">
						Accueil
					</a>
				</li>
				<li>
					<a href="{{ path('login_') }}" class="text-green">
						Connexion
					</a>
					-
					<a href="{{ path('app_register') }}" class="text-green">
						Inscription
					</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<ul class="list-unstyled mb-0">
				<li>
					<a href="{{ path('ad_list') }}" class="text-green">
						Annonces
					</a>
				</li>
				<li>
					<a href="{{ path('event_list') }}" class="text-green">
						Événements
					</a>
				</li>
			</ul>
			</div>
			<div class="col">
				<ul class="list-unstyled mb-0">
					<li>
						<a href="{{ path('hotnew_list') }}" class="text-green">
							Actualités
						</a>
					</li>
					<li>
						<a href="{{ path('contact_') }}" class="text-green">
							Contact
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row copyright">
		<div class="col-copyright">
			Copyright © 2021 GAMEET - Tous droits réservés.
		</div>
	</div>
</footer>
