{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/component/form.css') }}">
{% endblock %}

{% block body %}
<h1>Inscription</h1>

{{ form_start(form) }}

<div class="form-row">
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
</div>
<div class="form-row">
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.birthdate) }}
</div>
<div class="form-row">
    {{ form_row(form.cgu) }}
</div>
<div class="form-end">
    {{ form_row(form.submit) }}
</div>

{{ form_end(form) }}

{% endblock %}

